<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigurationUtilityComponents">
            <Component Id="cmp520088652AD9F17E0800A9DEF4FDA311" Directory="INSTALLFOLDER" Guid="2B89BCC5-141C-40B0-B8C3-DCD092F7E7BC">
                <File Id="fil79FDEBB3983A5E618EDF09A22D364C2B" KeyPath="yes" Source="$(var.ECR.TargetDir)\dictionary.json" />
            </Component>
            <Component Id="cmpBE2682328C9B3593E1B6E780B8ED1442" Directory="INSTALLFOLDER" Guid="D807C6FB-32B1-4F89-AFD7-3CDE55B8AC79">
                <Class Id="{0DC5D869-251A-30BE-AA40-3B401E5764C2}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Dummy" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Dummy" Description="Dynamitey.DynamicObjects.Dummy" />
                </Class>
                <Class Id="{1948AA17-CCBD-3F7D-BE35-2E38780FC937}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Description="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" />
                </Class>
                <Class Id="{4152FDA4-31F6-322C-875B-037BFB77D224}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseFactory" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseFactory" Description="Dynamitey.DynamicObjects.BaseFactory" />
                </Class>
                <Class Id="{584A43C5-C410-3709-ABC2-37362A82FE31}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Recorder" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Recorder" Description="Dynamitey.DynamicObjects.Recorder" />
                </Class>
                <Class Id="{ADA5F564-3FC1-3532-A0B8-C66AA8268559}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Mimic" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Mimic" Description="Dynamitey.DynamicObjects.Mimic" />
                </Class>
                <Class Id="{B3516AA3-12ED-3F22-B606-4876CBDDBED0}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Description="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" />
                </Class>
                <Class Id="{B5F9A839-6114-35F6-8941-B073B3B33405}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Dictionary" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Dictionary" Description="Dynamitey.DynamicObjects.Dictionary" />
                </Class>
                <Class Id="{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.ChainableDictionary" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.ChainableDictionary" Description="Dynamitey.DynamicObjects.ChainableDictionary" />
                </Class>
                <File Id="fil0431A42F084C8CFAEA0F3E8040DB4DD3" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Dummy" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Dummy" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Recorder" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Recorder" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Mimic" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Mimic" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Dictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Dictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.ChainableDictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.ChainableDictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="Class" Value="Dynamitey.InvocationKind" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
            </Component>
            <Component Id="cmpAE50E15E28B4B7B63484D296FB35BB6C" Directory="INSTALLFOLDER" Guid="4132BBFF-81EB-4E92-ABC0-48D2D05A2D38">
                <File Id="fil12A4CC0660539A372789BEC18DB52EBB" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.pdb" />
            </Component>
            <Component Id="cmp442FE9A0B3716CD14023D289694987D2" Directory="INSTALLFOLDER" Guid="9011F96D-90BA-499B-AB81-7F5D6419A088">
                <File Id="fil2F6F6B17754D368FBD54B01A464949A5" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.xml" />
            </Component>
            <Component Id="cmp684D0C8C2FAFAFFF10330BF07B339CE6" Directory="INSTALLFOLDER" Guid="71186B9F-840E-4BBF-9F97-D2DEE494FBF4">
                <File Id="filDB8726E2682AE0BCF3A14B4E405E7D6F" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.BootstrapperCore.config" />
            </Component>
            <Component Id="cmp5FE1D9D66F507AA458CA630233815DF4" Directory="INSTALLFOLDER" Guid="0DC9ECC6-131A-409A-A249-AC10303FC5F2">
                <File Id="fil84DDDC9B04DBCCEA63B49125C30CB04D" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.exe" />
            </Component>
            <Component Id="cmp9FC2F0C8A937A100BBF51C443E413743" Directory="INSTALLFOLDER" Guid="B11220C3-E9CD-4D91-A7C8-B75E8581485D">
                <File Id="fil6264D856B028B64A69DDE59A7E820F2D" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.exe.config" />
            </Component>
            <Component Id="cmpB8BA59EE160DA2C109C80D40B6498AE3" Directory="INSTALLFOLDER" Guid="742420FC-AFB2-4DF1-8D55-DCF2967648E7">
                <File Id="filB51757C248C5EBE9089542AED0C2A41A" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.pdb" />
            </Component>
            <Component Id="cmp61E6C0DAA0DA4910E01BB9645F178A2C" Directory="INSTALLFOLDER" Guid="AB30A388-6DA1-4B1C-AC4A-93D123C6BE55">
                <File Id="fil8B7013A0D530D756C62F22ECB880D4DE" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.vshost.exe" />
            </Component>
            <Component Id="cmp2B5CA491253C301BCEE634A06A7286F6" Directory="INSTALLFOLDER" Guid="4D6995F7-1209-41FF-9D9F-01F4AB6A503D">
                <File Id="fil75F6E0C8EBE6F2BB93B70EBDB4068FCD" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.vshost.exe.config" />
            </Component>
            <Component Id="cmp97D7769DDB855CFBA74DCE4662F34C9F" Directory="INSTALLFOLDER" Guid="F587D34A-DD42-4FC3-B7EB-8424346F1A9E">
                <File Id="fil55E5B329C4310894C0FE7EA8B3D35A56" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpC92D9566450D2381C819C291B41E2EE8" Directory="INSTALLFOLDER" Guid="58DECAC1-DD00-4D86-990B-EC47E85B6891">
                <File Id="fil3B7D3B0904598A6E39F49D385D9EF1F6" KeyPath="yes" Source="$(var.ECR.TargetDir)\logo.ico" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Directory="INSTALLFOLDER" Guid="F0BDC047-5DE7-4CBA-8F85-6BFD1C094445">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.dll" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.YieldAwaitable" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.ConfiguredTaskAwaitable" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.YieldAwaitable+YieldAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.TaskAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.ConfiguredTaskAwaitable+ConfiguredTaskAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Directory="INSTALLFOLDER" Guid="787E5C7C-2B96-4FC9-9220-553F1E3E2C97">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" Directory="INSTALLFOLDER" Guid="4D48FDD8-0136-474A-8E9D-E90A3F0FD682">
                <File Id="fil73DE8E4573C49C252AF9BBEB750C3371" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.xml" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Directory="INSTALLFOLDER" Guid="B7A9A9BE-C805-4CC1-AD5F-52079BB914B2">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" Directory="INSTALLFOLDER" Guid="1EA57493-55DC-47B7-9A9B-808E05E9C622">
                <File Id="fil34823D88AB36900C40AB3A8E7D4BD88A" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp70F570FFEF73490225CDC4144CEC292F" Directory="INSTALLFOLDER" Guid="416E627C-DC8A-44D3-BBF7-C96546C83ED1">
                <File Id="fil8DFD77FF75A79420C9E864EAFB8BD4C3" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="5F1E58F1-F166-496E-8ACC-4B00ACD30FFD">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp22E746D6F416E29CB766C7D18764B4B9" Directory="INSTALLFOLDER" Guid="047539A0-BC40-47E5-B68D-AAAA31F200F7">
                <File Id="filCDAFB89F0B81C3E6CC5A00DBBB38E11F" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Directory="INSTALLFOLDER" Guid="6695C301-8366-4FD5-A8F3-8AC54CAE4D1C">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Directory="INSTALLFOLDER" Guid="9484DEF4-9BE5-4ADB-9787-6CDE238A14EE">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.IO.dll" />
            </Component>
            <Component Id="cmp29F939233941398174AE650F10917EE2" Directory="INSTALLFOLDER" Guid="2F7B3EBC-B0CD-4830-BDF9-12626625000C">
                <File Id="fil60F9BEFA23716E87B5A5BBE1A9D95798" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.IO.xml" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Directory="INSTALLFOLDER" Guid="58FEC14E-3487-4C4C-BF3A-3012D8837859">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp5CBF91F07AFC195A7A5B6006DE491FFF" Directory="INSTALLFOLDER" Guid="06E8E066-8EE9-439E-BA9D-DBEF817121A0">
                <File Id="filDA6A662B79BB9F3A75FFF1382B78F6E7" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.WebRequest.dll" />
            </Component>
            <Component Id="cmpAC7F14E01CF7B0339BC7498B004EAB5A" Directory="INSTALLFOLDER" Guid="8B600647-47CB-4C5C-8B23-39D5AAB15E2E">
                <File Id="filEEA458C8C389DFCE095A6EDEDB33304D" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.WebRequest.xml" />
            </Component>
            <Component Id="cmp42DCC6F5718EE9E99FD27D6EC4DC8B65" Directory="INSTALLFOLDER" Guid="0B49C9EA-AAAA-4BB8-8493-8602DD9D64F4">
                <File Id="filBEC8D8E145CC6BF308933B7C61B08E0A" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.xml" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Directory="INSTALLFOLDER" Guid="6D5FF80E-5000-4D4A-8DF3-0B6CD325CD82">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp069F536DD65148B9E0DADDF7F860B86D" Directory="INSTALLFOLDER" Guid="6538D2A3-B077-42E6-AD95-A4C16C559C70">
                <File Id="fil6366DF6D9D8AF01E24128E6663573FDA" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Runtime.xml" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Directory="INSTALLFOLDER" Guid="9414D42E-8409-4923-9168-EE719F8A43DC">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpE2022A5DDEE4638DF06043143814CE16" Directory="INSTALLFOLDER" Guid="F00E7264-54D5-4622-A388-82BFA174A5D1">
                <File Id="fil1E7D5F59F3BB9AD60650D47B9BE37AAF" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmp908D7150125803814FB6756142B2F87B" Directory="dirE9205C68F964857267FD3312DBFF9A91" Guid="F2D85198-0FBA-4BEA-A9AB-2C5DD82658DA">
                <File Id="fil310308CB67A91DF476A393E99BEA38A2" KeyPath="yes" Source="$(var.ECR.TargetDir)\ru\ECR.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>