<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName = "ECR" ?>
<?define ProductManufacturer = "HelpMicro" ?>
<?define ProductCode = "3B820F10-BFCC-4495-A9A5-3192116DAC17" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProjectWIX" Language="1033" Version="1.0.0.0" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="d00aa271-8f44-48ff-83ec-7014ac09c9f0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupProjectWIX" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
       <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
    
  </Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- Add shortcut to the Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
            <Shortcut Id="ApplicationDesktopShortcut"
                Name="$(var.ProductName)"
                Description="$(var.ProductName) - $(var.ProductManufacturer)"
                Target="[INSTALLFOLDER]ECR.exe" 
                Icon="icon.ico"
                WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="DesktopFolder" On="uninstall"/>
            <RegistryValue
                Root="HKCU"
                Key="Software/$(var.ProductName)"
                Name="installed"
                Type="integer"
                Value="1"
                KeyPath="yes"/>
        </Component>
    </Directory>
      
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductManufacturer)" />
			</Directory>
      <Directory Id="ProgramMenuFolder" />
		</Directory>
  
	</Fragment>

	<Fragment>
    <Icon Id="icon.ico" SourceFile="$(var.ECR.TargetDir)logo.ico" />
    
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="ConfigurationUtilityComponents"/>
			<Component Id="ProductComponent">
        <File Source="$(var.ECR.TargetPath)" />
        <Shortcut Id="ECRShortcut" Name="ECR" Directory="ProgramMenuFolder" Advertise="yes" Icon="icon.ico" />
        
			</Component>
		</ComponentGroup>
	</Fragment>
  
  
  
</Wix>
